[2014-02-27 22:18] oliversalzburg opened #2 "Which is the proper repo to fork now?"
I saw [Caleb's comment](http://stackapps.com/questions/2116/autoreviewcomments-pro-forma-comments-for-se#comment11051_2116) on the [StackApps post](http://stackapps.com/questions/2116/autoreviewcomments-pro-forma-comments-for-se) regarding opening up a [proper repo](https://github.com/alerque/SE-AutoReviewComments) on GitHub and now I see that it is a fork of this repo.

I would like to maintain a

[2014-02-27 23:51] #2 closed, assigned to nobody

[2014-03-01 16:39] alerque opened #6 "Move default comments to external sources"
After reading the chatter the other day about comment data and import/export, I've been thinking our arrangement could be something like this:
- The userscript/extension source code would have no default comment data whatsoever.
- A repository (could be a secondary repo, the main one or a branch) would have the default comment data in json or text format.
  - A data file per site URL would make it

[2014-03-01 23:54] alerque opened #9 "Figure out who is going to release to app stores"
The new build process (See #5) auto-generates extensions for major browsers in a ready to upload format. The only catch is at least with the Chrome Web  Store, packages need to be consistently signed with the same key. Whoever this is should be decided upon and generate a autoreviewcomments.pem file. If this is [Derek](http://stackapps.com/users/24114/derek), he should already have the one he's [b

[2014-03-02 00:32] alerque opened #10 "Auto generate test keys if none found"
The process of generating Chrome extension packages requires a signing key is the form of a pem certificate. This needs to be private and kept the same access releases so it is not included in the repo. However a test one could easily be generated if none was found at build time. This would make it easier on developers to hack on without a lot of setup.

[2014-03-02 00:36] alerque opened #11 "Build should fail if unable to sign packages"
Right now the build system tries to build Chrome packages but fails if no signing key is found (see #10). The build target however continues. This error should at least work that build target as failing.

[2014-03-03 06:57] #10 closed, assigned to alerque

[2014-03-03 06:58] #11 closed, assigned to alerque

[2014-03-03 08:09] alerque opened #12 "Include build instructions in the readme"
Getting ant and ant-contrib setup (at least on Windows) is [apparently](http://chat.stackexchange.com/transcript/message/14075039#14075039) not quite simple. Which version to use and the easiest install path for somebody new to using it should probably be included in the readme along with basic instructions on how to use the various targets (e.g. how to just make a test build of the user-script, e

[2014-03-03 10:06] Benjol opened #14 "Make script work in the Edit Summary"
('Imported' from [here](http://stackapps.com/a/2896/876))

It would be great to be able to use this same functionality in the edit summary when making edits. Most of the edits I do fall into a small subset of "categories" and it pains me to have to put in the same summary over and over.

Adding a category (much like already exists for question-only or answer-only comments) would be a big help beyo

[2014-03-03 10:12] Benjol opened #15 "Figure out how to get the 'announcement' function working, or delete it"
The idea was originally to be able to send out 'service announcements' outside the stock auto-update detection. (Things like 'please vote on the list of issues on GitHub'). Unfortunately, localstorage being what it is, it forced users to 'ack' the message on every site. Not good.

I actually haven't felt the 'need' for this functionality very often, so I'd be more inclined to zap it, but putting t

[2014-03-03 11:05] alerque opened #16 "Remove auto-update code from extensions"
The ant build process is currently including the full source for pretty much all builds. The sections related to auto-update should be removed from the extension builds, probably before the extensions packages of the current release are submitted.

[2014-03-03 20:03] #12 closed, assigned to oliversalzburg

[2014-03-04 06:56] #16 closed, assigned to oliversalzburg

[2014-03-04 19:03] #15 closed, assigned to Benjol

[2014-03-05 08:22] alerque opened #24 "Fix minified build"
The minified build currently breaks the auto-update system in several ways. First the build props need to support setting the auto-update URL to the version being used. Secondly a number of variables and functions need name protection across releases. Lastly it needs to stop stripping out "apparently unused" code bits. Just because a variable is assigned and not used in a function doesn't mean it

[2014-03-05 11:24] alerque opened #25 "Fix build on OS X"
Of course the binaries we use for signing Chrome extensions don't run on OS X.

[code]

Not sure what the fix is but at the very least that step should be skipped if the signing tool cannot be executed.

[2014-03-10 08:55] alerque opened #31 "use version number logic instead of stringwise version check"
The current version checking mechanism uses a stringwise test on the version string. This works for many cases but it is brittle and I already broke it it my local devel branch testing auto-updates. Some of the feature branch devel tries are likely to outlive 10 test releases, and it's not impossible the main release tree might someday do the same. (it already did once, [see tag v1.2.0](https://gi

[2014-03-12 05:39] #31 closed, assigned to nobody

[2014-03-13 09:56] Benjol opened #35 "CRLF in build.sites breaks sites-chrome-list"
It shouldn't break the build.

[2014-03-18 09:48] dmjones500 opened #36 "Make script work in the custom "off-topic" closure reason"
*Imported from [here](http://stackapps.com/a/4235/21338).*

Can we have the auto link appear when completing a custom "off-topic" closure reason?

Bonus points if we can declare certain auto-comments to apply in this scenario (e.g. mirroring the "A" and "Q" prefix for answers and questions). Perhaps "C" for closure reasons?

![clnxc](https://f.cloud.github.com/assets/3658671/2446246/70446b10-ae82-

[2014-03-22 08:52] Benjol opened #37 "Mozilla NOT happy..."
(This probably/maybe needs splitting into multiple issues):

[2014-03-27 11:17] Benjol opened #39 "Mozilla review: remote scripts & jsonp"
(1.1 From #37)

[2014-03-27 11:18] Benjol opened #40 "Mozilla review: creating DOM nodes from HTML strings"
(1.2 from #37)

[2014-03-27 11:19] Benjol opened #41 "Mozilla review: Shallow wrappers do not exist anymore"
(1.3 from Issue #37)

[2014-03-27 11:20] Benjol opened #42 "Mozilla review: running code on page load event"
(2.1 from Issue #37)

[2014-03-27 11:21] Benjol opened #43 "Mozilla review: fixup targetSites array"
(2.2 from Issue #37)

[2014-04-04 21:16] #43 closed, assigned to nobody

[2014-04-04 21:17] #42 closed, assigned to nobody

[2014-04-04 21:18] #41 closed, assigned to nobody

[2014-04-04 21:19] #37 closed, assigned to nobody

[2014-04-04 21:21] #35 closed, assigned to oliversalzburg

[2014-04-07 18:24] #9 closed, assigned to Benjol

[2014-05-20 08:50] ghost opened #49 "No "auto" comment link on beta sites"
Using AutoReviewComments 1.3.3.1 on Firefox 27.0.1 on Windows 7 SP1 x64, I do not get the "auto" link for commenting on beta sites, although I do see it on non-beta sites.

[2014-06-11 08:34] #49 closed, assigned to nobody

[2014-06-12 17:15] oliversalzburg opened #53 "Wrong comment inserted while editing"
When editing a comment (by double-clicking it) while it is selected, pressing the Insert button will cause invalid data to be inserted into the target.

[2014-07-26 08:51] acleach opened #55 "New Comment mechanism has broken script"
SE has changed its comment mechanism as a result of separating the "Expand comment list" from "Add comment". An error is now flagged highlghting line 440 of the user script, which no longer works in Chrome or Firefox.

[code]

[2014-07-26 20:35] #55 closed, assigned to nobody

[2014-07-26 22:38] TheGuywithTheHat opened #58 ""auto" link doesn't appear"
Possibly because of the update to the comments system, the "auto" link next to "help" no longer appears.

[2014-07-26 22:39] #58 closed, assigned to nobody

[2014-07-28 14:14] gunr2171 opened #59 ""Auto" link can't be inserted due to error"
Probably due to the new [comment format](http://meta.stackoverflow.com/questions/266852/bar-between-add-a-comment-and-show-more-comments-is-inconsistent), but I'm getting an error when clicking the "add comment" link on Stack Overflow.

The error is

This is a screenshot of the error and source code. I did a few lines in the console to get some additional information.

![image](https://cloud.githu

[2014-07-29 08:39] #59 closed, assigned to nobody

[2014-07-31 00:54] jamesmortensen opened #60 ""auto" link not appearing next to the comment box with the changes SE made to comments"
"auto" link is no longer appearing next to the "help" link to the side of the comment box; as a result, I'm unable to use the script for the last few weeks.

I've upgraded to the latest version in Chrome 36, AutoReviewComments 1.3.3.

**Screenshot:**

![screen shot 2014-07-30 at 5 50 51 pm](https://cloud.githubusercontent.com/assets/1315816/3758653/ffd5e78e-184c-11e4-9268-04819aa8e54a.png)

Note t

[2014-07-31 01:06] #60 closed, assigned to nobody

[2014-07-31 04:41] Julian-O opened #61 "Stopped working: Uncaught TypeError: Cannot read property 'replace' of undefined"
A few days ago, the plugin stopped working for me (on Chrome). Another user confirmed it stopped working for him (on Firefox).

I am running AutoReviewComments 1.3.3 on Chrome Version 36.0.1985.125 m.

The symptoms are that the site looks like it normally does without the plugin, and the JS Console reports:

[code]

when "Add a comment" is clicked.

[2014-07-31 04:42] #61 closed, assigned to nobody

[2014-08-02 21:16] Undo1 opened #62 "Can't click "Login with Google" button on sites where I'm not logged in"
When the userscript is running, I get this error in the console on pageload, only on sites where I'm not currently logged in:

![screen shot 2014-08-02 at 3 15 05 pm](https://cloud.githubusercontent.com/assets/5162342/3789065/32116536-1a8a-11e4-9f3d-7c4fedf0c026.png)

And I can't click the "Login with Google" button on the modal dialog that shows up when I try to vote. This is occuring on 1.3.3.3

[2014-08-05 16:40] bjb568 opened #65 "Add an option to post comments, instead of just filling the comment box"

[2014-08-06 06:40] alerque opened #66 "Firefox addon only works on SO"
The latest builds (1.3.3.x?) of the Firefox add-on seem to only work on Stack Overflow, not on any of the other Stack Exchange network of sites.

[2014-08-06 13:23] slmingol opened #67 "Extension is no longer working in Chrome 36.0.1985.125?"
I just noticed today that I'm no longer getting the "auto" button showing up when I go to comment. Doesn't work on any of the SE sites best I can tell. I went through and removed the extension and re-installed from the Google Store and still no luck.

[2014-08-07 02:59] #67 closed, assigned to nobody

[2014-09-09 03:01] dead-claudia opened #69 "Comments disappear after some time"
I have not yet pinpointed when the comments self-destruct, but the comments are not stored long-term once imported. I'm not sure if this is a bug or a feature request, but I'm leaning towards the former.

I think it may have to do with the app initialization either misreading/overwriting the memory on load (unlikely programming error) or the data itself isn't stored in a dependable, long-term stor

[2014-09-21 12:14] #69 closed, assigned to nobody

[2014-10-09 09:09] jniggemann opened #71 "1.3.3/FF30/GM1.8: No "auto" menu"
Hi,

version 1.3.3 in FF 30 with Greasemonkey 1.8 doesn't display the "auto" menu in the comments, neither on unix.se.com nor on any other site. I also tested FF32 but again, no luck.

[2014-10-09 09:22] #71 closed, assigned to nobody

[2014-11-12 05:58] Benjol opened #76 "Default comments don't *actually* contain any question comments"
(On devel) with the targetting prefixes, the first default (reset) comments are marked as 'Target.CommentQuestion', but if you actually read them, they only apply to Answers. Have we got any example frequently used question comments we could slip in?

[2014-11-12 13:09] #76 closed, assigned to nobody

[2014-12-26 04:39] BenjiWiebe opened #77 "Not working in FireFox 34"
This add-on does not work in FireFox 34 on Linux. I'm not sure at what version it quit working; I have had it disabled for quite a while.

I have tried starting FireFox with a brand-new profile, and it still doesn't work.

By "doesn't work", I mean it does not put an 'auto' link next to the 'help' link in the comments box.

[2014-12-27 04:54] #77 closed, assigned to nobody

[2015-01-19 14:28] rolfl opened #78 "Add UnTag step to GetRemote URL"
I am building a system (see chat room http://chat.stackexchange.com/rooms/20341/stackmonkey ) that will support supplying different comment-sets for different stack sites. The  logical way to do this would be to have a SetStorage for each stack site, but an interim solution would be to do the auto-load of comments, and supply the Stack site $SITEURL$ as part of the remote URL... for example:

[2015-01-19 14:49] oliversalzburg commented on #78
LocalStorage is local to the current domain and the user is in control of the URL from which comments are imported. What am I missing here?

[2015-01-19 15:10] rolfl commented on #78
Uhm.... apparently you are missing nothing. Thanks, I overlooked that entirely.

[2015-01-19 15:10] #78 closed

[2015-01-29 15:19] camilstaps opened #79 "Error with the extension in Chromium (Ubuntu 14.04)"
I'm on Chromium 39.0.2171.65 in Ubuntu 14.04 and installed the AutoReviewComments extension from the Chrome webstore.

When I go to any SE page and hit 'add comment', no 'auto' link is added. Instead, I see this in the console:

    Uncaught TypeError: Cannot read property 'replace' of undefined      VM247:524
      (anonymous function)                                               VM247:524

[2015-01-29 15:23] oliversalzburg commented on #79
Please try installing the latest build directly: https://github.com/Benjol/SE-AutoReviewComments/releases/tag/v1.3.3.3

[2015-01-29 15:27] camilstaps commented on #79
Thanks very much, that resolved it.

[2015-01-29 15:27] #79 closed

[2015-02-05 06:00] miohtama opened #80 "StackOverflow layout changes breaking the add on"
The stackoverflow.com layout changed recently.

After installting addon on Firefox I do not get *Auto* link. I assume the layout changes have broken the add-on?

[2015-02-05 08:55] oliversalzburg commented on #80
Try the latest build from https://github.com/Benjol/SE-AutoReviewComments/releases/tag/v1.3.3.3

[2015-02-10 03:46] ajkuck commented on #80
I was having the same problem with the _Auto_ link not appearing.  After I installed version 1.3.3.3, I now see it when I view stackoverflow.com, but not on any of the other stackexchange.com sites.

Has anyone else found this to be the case?  (FWIW, I'm using the Firefox addon on Mac OS Mavericks.)

[2015-02-10 09:03] oliversalzburg commented on #80
@Benjol What's the current status of publishing the latest version to the official plugin platforms (Chrome Web Store, Mozilla Plugins, ...)?

[2015-02-10 12:25] Benjol commented on #80
Oliver,

I'm open to doing anything, but I kind of needed Caleb's help for wrangling
the git branches into shape.

Ben

On 10 February 2015 at 10:03, Oliver Salzburg <notifications@github.com>
wrote:

[2015-02-10 12:48] oliversalzburg commented on #80
Ah, I see. Well, it would be cool if we could get the release train going :)

[2015-02-12 08:03] miohtama commented on #80
@oliversalzburg The latest build fixes this for me. Should I close the the issue?

[2015-02-12 10:34] oliversalzburg commented on #80
@miohtama Great. I'll close it for you :)

[2015-02-12 10:34] #80 closed

[2015-03-11 05:25] carlclark opened #84 "Pull existing comment text into [type here] placeholder on insert"
Often I start writing a comment asking for clarification in the question before remembering that most such comments are simply replied to, rather than resulting in an edit, and switching to the custom auto-comment that emphasizes [edit]ing because of [type here] reason. But, of course, then I lose what I typed. Usually it's not worth copying to the clipboard, but it would still be nice to have it

[2015-03-12 00:00] fixer1234 commented on #66
This addon is a finicky little bugger.  After previously getting this working, it stopped again.  I recently upgraded to Firefox 36.0.1 and took another stab at seeing whether there might be other addons causing the problem.  Found it.  Stylish 2.0.2 (https://userstyles.org/) was the culprit this time.  It simplifies loading themes and skins.  It isn't clear whether the issue is the addon or the s

[2015-03-12 05:41] Benjol commented on #66
@fixer1234, did you install yesterday's new version (1.3.3.4)? If so, it's not your fault, it is apparently because I (again) built from master and there must be something missing (according to @oliversalzburg comment above).

Sigh...

[2015-03-12 08:44] oliversalzburg commented on #66
@Benjol I started a merge over at https://github.com/oliversalzburg/SE-AutoReviewComments I'll be testing it later and check for any unmerged changes.

[2015-03-12 09:01] oliversalzburg commented on #66
So far, I've done very basic testing with the 1.4.0 on my master.

Build successful:
- [X] Chrome
- [X] Firefox
- [X] Userscript

Installation successful:
- [X] Chrome
- [X] Firefox
- [ ] Userscript

Comments are inserted (tested on Stack Overflow) with both classic and quick-insert:
- Chrome
  - [X] Comment
  - [X] Closure
  - [X] Edit summary
- Firefox (tested on Super User)
  - [X] Comment
  -

[2015-03-12 09:07] Benjol commented on #66
@oliversalzburg, don't forget to test on at least one other SE site too...

[2015-03-12 09:07] fixer1234 commented on #66
@Benjol, I downloaded and installed today, but the version I found was 1.3.3.3.  Right now, it's working again (not to jinx it).

[2015-03-12 09:11] oliversalzburg commented on #66
It would be cool if someone else could also test my branch. I'm not set up to load userscripts right now.

[2015-03-12 09:13] oliversalzburg commented on #66
@Benjol I'm testing on SO and SU. I also just ran a quick test on gaming.se, which worked fine (except for some minor CSS issues).

[2015-03-12 09:14] Benjol commented on #66
@oliversalzburg, pulled now, I'll build and try both scripts.
(I wonder if the version shouldn't be 1.4.0.0?)

[2015-03-12 09:19] Benjol commented on #66
@oliversalzburg, normal and minified versions seem to work ok (only tested on Qs & As). Back later.

[2015-03-12 09:44] oliversalzburg commented on #66
I have a personal preference towards 3-digit-group version numbers due to [Semantic Versioning](http://semver.org/). If you would prefer to have 4 groups, that's fine with me as well.

[2015-03-12 10:43] oliversalzburg commented on #66
Seems like the changes from mjpieters:protocol-relative-api-access were lost somewhere in the process. I restored the protocol agnostic behavior in d6c8aa5987f8ecf20eeedbb0ca818f645a01936e

[2015-03-12 10:46] Benjol commented on #66
@oliversalzburg yeah, you have to weave them back in by hand, because I changed the comments in 87dafbd3

[2015-03-12 10:49] oliversalzburg commented on #66
@Benjol Should be good now. I even caught a couple more usages in 916ffc821db4652f82c3dbf6feabee95f1dcc1bb

[2015-03-12 11:05] Benjol commented on #66
Okay...

Do you agree that this is the right order in which I should do the following?

A. merge (FFwd) my master to yours
B. update README.md
C. build releases
D. tag
E. push
F. upload releases to github

[2015-03-12 11:09] oliversalzburg commented on #66
@Benjol Sounds good. Also, don't forget to merge master back into devel.

[2015-03-12 11:55] Benjol commented on #66
Something weird happened there with the built scripts, I had to re-commit them with http removed.

[2015-03-12 12:05] oliversalzburg commented on #66
I hadn't built the dist scripts again after my latest changes. Good catch

[2015-03-12 12:40] Benjol commented on #66
@oliversalzburg, I sent you an email, just to check my proposed Release message.

[2015-03-12 12:46] oliversalzburg commented on #66
![](http://i.imgur.com/Es8NMzS.png)

[2015-03-12 12:46] #66 closed

[2015-03-12 12:47] Benjol commented on #66
Yes! :) devel merged too

[2015-03-12 12:48] Benjol commented on #14
@oliversalzburg, so you can close this too?

[2015-03-12 12:50] #14 closed

[2015-03-12 12:51] #36 closed

[2015-03-12 12:51] oliversalzburg commented on #66
Awesome!

[2015-03-12 12:54] Benjol commented on #53
@oliversalzburg, motivated? :)

[2015-03-12 12:55] oliversalzburg commented on #62
I assume this is fixed in 1.4.0. Otherwise please reopen

[2015-03-12 12:55] #62 closed

[2015-03-12 13:11] Benjol commented on #84
We can do this, but I'm not sure that it would add that much value: In what percentage of cases will your starting text be grammatically correct when inserted into the [type here] placeholder?

[2015-03-12 13:37] oliversalzburg commented on #53
I'll check it out again. But today I have to get some work done ;D

[2015-03-12 13:51] carlclark commented on #84
Usually some modification would be required, but that's still progress,
in that it allows for at least some percentage of cases to be
considerably eased, with no loss of speed for cases that don't benefit
from it.

On 2015-03-12 08:11, Benjol wrote:

[2015-03-13 11:05] IzzySoft opened #85 ""auto" link gets multiplied when putting multiple comments on the same post"
When adding a comment, the "auto" link gets multiplied:

* on the first comment, it's a single link
* on the second comment, you get two links
* on the third comment, it will be 3 links (see screenshot)
* on th..is place, I've stopped trying :eyes:

To reproduce: Pick a post (in my case it was an answer) without comments, create the first, then create the next, and so on. Note this does not initia

[2015-03-13 13:38] oliversalzburg commented on #85
Note to self: The `injectAutoLink*` methods don't properly check if an "auto" link is already inserted.

[2015-03-13 15:25] IzzySoft opened #87 "Where did the "Welcome check" go?"
With 1.4.0 (or was it the update to Firefox-36?), the "welcome check" seems to be gone. Before, the script checked whether the poster of a question/answer was a new user, and if so added the "Welcome message". As it is now, there is no welcome message added anymore. Also, details on the user are no longer displayed on top of the popup.

A little analysis turned out that `getUserId()` seems to be b

[2015-03-16 01:44] kylekanos opened #89 "update breaks on Opera"
After updating to v1.4.0 on Opera browser v12.16 (stock version on SciLinux 6.5), the 'auto' button no longer appeared on Physics.SE and Meta.Physics.SE (didn't check any other sites).

Rolling back to v1.3.3.3 returns the 'auto' button to its normal place.

[2015-03-16 06:33] Benjol commented on #87
This is weird, because I'm sure it worked when I was testing...

[2015-03-16 06:54] Benjol commented on #89
Seems to work in Opera for Windows (though I know that's not much help to you). But maybe it provides a clue?

[2015-03-16 08:25] IzzySoft commented on #87
My guess is it's a change on FF side. They've started some weird "security stuff" lately (try e.g. to `console.log(window.location.href)` to see what I mean – and as `this` now turns up as the window element itself, to me it sounds like it could be related).

[2015-03-17 05:33] Benjol commented on #87
@oliversalzburg, I've pulled in @IzzySoft's correction for this, in case you want an easy way to check it on devel. If you're happy, I'll let you close this issue.

[2015-03-17 05:35] Benjol opened #90 "Automated testing"
I haven't got the faintest idea if/how this would be possible, but just throwing the idea in here for discussion. I think I've got free minutes on Azure/VS-online, but this would also imply having a test account with enough rep for multiple sites...

[2015-03-17 10:22] oliversalzburg commented on #87
Tested devel with Firefox and Chrome Canary on Windows.

[2015-03-17 10:22] #87 closed

[2015-03-17 10:57] Benjol commented on #85
Closing, fix looks good and is merged to devel

[2015-03-17 10:57] #85 closed

[2015-03-17 12:08] oliversalzburg opened #93 "Code style"
I know this has the potential to cause a very long discussion, but we need to have it ;D

We should settle on a code style that we should follow. The current mix of different styles is very confusing.

The major points we need to settle on are:
1. Strings - Single or double quotes?
2. Spaces - Spaces within function call parenthesis? Spaces after comma?

As an example, I've set up https://github.c

[2015-03-17 12:13] Benjol commented on #93
I think any style is better than no style (or a mix of styles).

My own preference is for spaces over tabs, and not having spaces inside parenthesis (but having them around operators).

Apart from that, yes.

[2015-03-17 12:38] IzzySoft commented on #87
\o/ :thumbsup: Thanks for testing and integrating!

[2015-03-19 23:32] fixer1234 commented on #66
So is there a download link for a 1.4.0 xpi?

[2015-03-20 11:10] oliversalzburg commented on #66
There is one on https://github.com/Benjol/SE-AutoReviewComments/releases/tag/v1.4.0

[2015-03-31 00:29] Julian-O opened #94 "Welcome text no longer automatically inserted"
I am using 1.4.0 on Chrome on one of the mid-sized Stack Exchange sites.

(Weird: I don't remember updating to 1.4. But everything looks different now, since I returned from holidays. But Chrome Web Store is still at 1.3.3. Huh. Confused.)

The user's details (how long they have been a member) are no longer displayed and the Welcome message is no longer inserted.

[2015-03-31 08:01] oliversalzburg commented on #94
Duplicate of #87 Is fixed in 1.4.1

[2015-03-31 08:01] #94 closed

[2015-04-06 22:29] krichter722 opened #95 "Add build instructions to README"

[2015-04-06 22:43] krichter722 opened #96 "Update installation instructions for Firefox"
http://stackapps.com/tags/script/info states "Click on the link to the .user.js file found in the post." (which post -> add a link) clicking on a text file very likely opens a text editor (-> explain). Is this an alternative method to the Firefox add-on or an update (-> mention it)?

[2015-04-08 05:25] Benjol commented on #95
It's on the wiki pages: https://github.com/Benjol/SE-AutoReviewComments/wiki/Building

[2015-04-08 05:25] #95 closed

[2015-04-08 05:28] Benjol commented on #96
I'm assuming you got to that page (http://stackapps.com/tags/script/info) by clicking on a link in the README.
Directly above that link, it says:

And that is where you should click

[2015-04-08 05:28] #96 closed

[2015-04-08 14:50] krichter722 commented on #95
So, you don't want to fix that...

[2015-04-08 14:52] krichter722 commented on #96
No.

The issue is not about providing one way to get it right, but making all descriptions consistent.

[2015-04-08 18:51] Benjol commented on #95
No, not really. The README is for users, not developers. It's already long enough as it is.

[2015-04-08 18:52] Benjol commented on #96
The problem is that http://stackapps.com/tags/script/info doesn't belong to me, I can't change it, and it is a set of generic instructions for ALL the scripts on StackApps, so it can't refer to a specific link.

[2015-04-15 01:58] Julian-O commented on #87
May I, ever so politely and respectful of the contributors' time, suggest this bug fix alone warrants another release?

[2015-04-15 04:34] Benjol commented on #53
I think we can call this fixed by #92

[2015-04-15 04:34] #53 closed

[2015-04-15 04:48] Benjol commented on #87
@Julian-O, done.
(@oliversalzburg for info)

[2015-04-15 07:34] oliversalzburg commented on #87
@Benjol Good job. Well done! :+1:

[2015-04-15 07:57] Benjol opened #98 "Update to 1.17 of Mozilla SDK"
Feedback from Mozilla review:

[2015-04-15 07:58] Benjol opened #99 "Improve security by avoiding use of innerHTML"
Feedback from Mozilla review

[2015-05-16 18:51] LordFarin opened #100 "Humongous arrows in latest build"
![image](https://cloud.githubusercontent.com/assets/794170/7667567/072c2e90-fc0d-11e4-853b-d671f84093db.png)

The latest build introduces these fantastic arrows which make the extension border line unusable. They are present whether or not the "show/hide desc" option is used.

Please fix this ASAP.

I'm using Comodo Dragon browser, which for practically all purposes can be considered equal to Goog

[2015-05-16 20:58] Benjol commented on #100
Practically all purposes except this apparently :)
Just out of curiosity, have you tried it in Chrome. Also, which site is this on?
(Normally those arrows should only appear on hover)

Ben

-----Original Message-----
From: "LordFarin" <notifications@github.com>
Sent: ‎16/‎05/‎2015 20:51
To: "Benjol/SE-AutoReviewComments" <SE-AutoReviewComments@noreply.github.com>
Subject: [SE-AutoReviewComments] H

[2015-05-16 21:13] LordFarin commented on #100
It's the same in Chrome. I'm on Maths.SE (http://math.stackexchange.com/).

It might have to do with a recent complete overhaul of the UI, see http://meta.math.stackexchange.com/q/20047/43351.

Thanks for looking into it.

[2015-05-17 18:47] oliversalzburg commented on #100
Yeah, it's caused by recent CSS updates of buttons. :\

[2015-05-18 11:43] Benjol commented on #100
@LordFarin, there is a fix from Oliver, but no release to go with it at present. Do you have the wherewithall to build and check?

[2015-05-18 20:21] LordFarin commented on #100
@Benjol Unfortunately, no. However, I do have some past experience with Git so with some quick pointers I should be able to manage.

[2015-05-18 20:26] oliversalzburg commented on #100
@LordFarin https://github.com/Benjol/SE-AutoReviewComments/wiki/Building should get you started :)

[2015-05-18 20:53] LordFarin commented on #100
I managed to do it. It now looks like this:

![image](https://cloud.githubusercontent.com/assets/794170/7689954/4e61ab74-fdb0-11e4-84ec-1d01406d5b1d.png)
![image](https://cloud.githubusercontent.com/assets/794170/7689964/5e44b0b8-fdb0-11e4-965c-8c4d779ef992.png)

That is much better, but there is still something strange going on with the arrow when the comment is still folded.

You can also see th

[2015-05-18 21:07] oliversalzburg commented on #100
@LordFarin Yeah, that's what I was seeing as well. I wanted to leave it there like that to give users a hint that there is something to interact with.

If you have any suggestions on how to improve it, I'm all ears :)

[2015-05-18 21:13] LordFarin commented on #100
What I would do (if it's possible) is the following:

1. Scale the arrow so that it fits the vertical space used by the folded/unfolded comment.
2. Always show the arrow to the right on hover of the comment (instead of only when you hover all the way to the right).

This should fix the translucent arrow overflow and IMO it would also make the interface more intuitive.
I hope it is clear what I env

[2015-05-19 12:55] oliversalzburg commented on #100
@LordFarin I implemented your second suggestion. Scaling the height of the arrow wouldn't be very easy.

I'll submit a new PR.

[2015-05-22 02:50] bjb568 commented on #100
Removing these:

    height:100%;margin:0;font-size:300%;color:transparent;background-color:transparent;border:0;transition:.3s;text-shadow:0 0 1px #fff;cursor:pointer

makes it usable. That's how I'm modding it indefinitely, until pushing the update button doesn't move my cheese like that o_o

[2015-05-22 07:55] oliversalzburg commented on #100
@bjb568 Humm, yeah, that doesn't look too bad either. Feels more in-tune with the overall UX. I might give it another do-over.

I've never heard the phrase "move my cheese" before btw. I like it :D

[2015-05-22 08:29] Benjol commented on #100
Personally I prefer the translucent until hover, but I'll take whatever you PR.

@oliversalzburg: http://en.wikipedia.org/wiki/Who_Moved_My_Cheese%3F

You probably have seen it before, just not noticed (http://meta.stackexchange.com/search?q=cheese+moved)

[2015-05-22 09:37] oliversalzburg commented on #100
@Benjol I would recommend merging #102 for now and pushing a release, as the current version is hardly usable.

Other changes would probably come later on.

And thanks for the cheese moving insights ;D

[2015-05-26 01:30] humbleRumble opened #103 "Help and Improvement que"
Could this also work with the `Explain your edit in a comment` section of the `Help and Improvement` que? This would be helpful as I find myself copy and pasting comments.

[2015-05-26 04:51] Benjol commented on #103
@Oliver, as master of the multi-targeting code, what do you think?

-----Original Message-----
From: "humbleRumble" <notifications@github.com>
Sent: ‎26/‎05/‎2015 03:30
To: "Benjol/SE-AutoReviewComments" <SE-AutoReviewComments@noreply.github.com>
Subject: [SE-AutoReviewComments] Help and Improvement que (#103)

Could this also work with the Explain your edit in a comment section of the Help and Im

[2015-05-26 08:15] oliversalzburg commented on #103
Surely a must-have. I'll try to take care of it ASAP.

[2015-05-27 14:35] humbleRumble commented on #103
Thanks guys.

[2015-05-27 17:09] oliversalzburg commented on #103
I noted that there are more cases in review queues where the comments are not available. Like when you edit a question in the Close Votes queue, you can provide an edit summary, something that is supported in other placed on the site.

I'll look into supporting that as well.

[2015-05-27 17:10] oliversalzburg opened #105 "Support auto comments in all review queues"
Edit summaries can not be automatically inserted in some review queues. See #103 for details.

[2015-07-01 14:47] gunr2171 opened #106 "Exporting jsonp with quotes in the title will not escape them"
I have the following auto-comment entries I wrote myself:

[code]

However, when they are exported to jsonp it renders as this:

[code]

Notice that the quotes on the titles are not being escaped. Quotes in the body _are_ being escaped though.

[2015-08-12 18:16] mogsdad opened #107 "Default comments include a typo"
The default comments include a typo, "appropritate" should be "appropriate".

[2015-08-12 20:16] oliversalzburg commented on #107
Fixed in 41606970db61d58bb9ba833e56ff5b7a7d3528a3

[2015-08-12 20:16] #107 closed

[2015-09-03 16:19] LordFarin opened #109 "Comment's Markdown is messed up when inserting"
I have the following comment:

[code]

which when double-clicking in the selection for editing, or when inserting, shows as:

[code]

I'm sure you see the nonsensical gibberish that is being produced instead of a plaintext copy of what I put in.

I don't care about fancy previews involving URL and Markdown parsing if they screw up the insertion of the actual comment. Please get this fixed.

FYI, I

[2015-09-07 17:06] Benjol commented on #109
Someone more acerbic than I might remark that what you put in is pretty close to gibberish as well.

I’ll see what I can do.

Serf

From: LordFarin [mailto:notifications@github.com]
Sent: 03 September 2015 18:20
To: Benjol/SE-AutoReviewComments
Subject: [SE-AutoReviewComments] Comment's Markdown is messed up when inserting (#109)

I have the following comment:

###[Q] Informative title
Please, try

[2015-09-07 17:31] oliversalzburg commented on #109
I guess, the problematic bit boils down to `*Why does $a<b$ imply $a+c<b+c$?*`

[2015-09-07 17:56] LordFarin commented on #109
@Benjol I'm sorry for my rude tone. I should've realised that you are maintaining ARC as a service to the community and shouldn't have phrased my report in such an arrogant and demanding way. I duly apologise :(.

[2015-09-07 18:42] Benjol commented on #109
And I am sorry in turn. I should have put a smiley on the end. I was just mildly amused by the juxtaposition of the tone and the ‘Lord’ in your username J

From: LordFarin [mailto:notifications@github.com]
Sent: 07 September 2015 19:57
To: Benjol/SE-AutoReviewComments
Cc: Benjol
Subject: Re: [SE-AutoReviewComments] Comment's Markdown is messed up when inserting (#109)

@Benjol <https://github.com/

[2015-09-07 18:43] Benjol commented on #109
I suspect that it’s something to do with having an open AND closing tag <  >

I’ll have a look tomorrow.

From: Oliver Salzburg [mailto:notifications@github.com]
Sent: 07 September 2015 19:32
To: Benjol/SE-AutoReviewComments
Cc: Benjol
Subject: Re: [SE-AutoReviewComments] Comment's Markdown is messed up when inserting (#109)

I guess, the problematic bit boils down to *Why does $a<b$ imply $a+c<b+

[2015-09-07 20:28] oliversalzburg commented on #109
It's actually not that we're doing too much, we just don't replace `<` and `>` with their respective HTML entities when [calling `ul.append()`](https://github.com/Benjol/SE-AutoReviewComments/blob/devel/src/autoreviewcomments.user.js#L348). jQuery then thinks they are HTML tags.

[2015-09-08 07:16] Benjol commented on #109
@oliversalzburg, unfortunately same code gives different symptoms in different places. replacing `<` with `&lt;` in `markDownToHtml` fixes the preview problem, but then you get `&lt;` instead of `<` when the comment is inserted.

(Also, as an aside, I noticed that if you do double-click-to-edit then save, it 'breaks' the quick insert arrow)

[2015-09-08 09:21] Benjol commented on #109
@oliversalzburg, we could always transform `&lt;` into `<` when doing `htmlToMarkDown`, but then we'll get people who *want* `&lt;` complaining...

So I'm a bit stuck right now...

[2015-09-08 09:32] oliversalzburg commented on #109
@Benjol Well, `&lt;` has to be replaced by `&amp;lt;` ;) We should probably construct the HTML nodes separately, then set the text content with http://api.jquery.com/text/

[2015-10-09 19:41] nathan-osman opened #110 "Unable to load remote content in Opera"
I've installed the script in Opera using the Tampermonkey extension. However, when attempting to fetch a remote source from a GitHub repo., I get the following error in the console:

    Refused to execute script from 'https://raw.github.com...' because its MIME type
    ('text/plain') is not executable, and strict MIME type checking is enabled.

This appears to be a problem with the way GitHub is

[2015-10-10 19:35] Benjol commented on #110
I have to admit I've no idea, perhaps @oliversalzburg has tried importing from a remote source?

[2015-10-11 14:37] oliversalzburg commented on #110
Nope, this has never really worked for me and, apparently, is a PITA to implement right. IIRC Mozilla also noted the foreign resource loading as an issue during initial review.

[2015-11-30 04:35] TuggyNE opened #111 "Allow linking to review entry the way LQP auto-comments do"
Recently, SE began linking all LQP auto-comments to the review entry that generated them with the text " - From Review". Having an option to mimic this (either indistinguishably, or using slightly different link text, such as using an actual em dash instead of a hyphen) would be handy in review queues, and outside those the script could just not add that link.

[2015-12-22 14:00] hg8 commented on #110
No workaround then ?

[2015-12-22 15:13] Rizier123 opened #112 "Make auto-comments appendable"
I think it would be really useful, when you can append multiple auto-comments to each other without overwritten the previous one, by inserting the new one.

Maybe just add or replace the existing button with an append button, so the auto-comments don't overwrite each other.

[2015-12-22 15:21] Rizier123 opened #113 "Make auto-comments sortable"
Having many auto-comments makes it a bit difficult to find the correct one, especially when you have specific comments for a language. So it would be really awesome if you could simply filter them by tag or so. So you could do:

### Search
[code]

And all auto-comments that were specifically saved for java would be displayed

[2015-12-30 05:08] onlineth opened #115 "Spelling Error: "appropritate" > "appropriate""
"appropritate" is spelled wrong, it should be spelled as "appropriate"

<strike>https://github.com/Benjol/SE-AutoReviewComments/pull/114</strike>
https://github.com/Benjol/SE-AutoReviewComments/pull/116

[2015-12-31 16:19] onlineth commented on #115
Fixed

[2015-12-31 16:19] #115 closed

[2016-01-01 16:28] oliversalzburg commented on #115
Another hint: Add "Fixes #115" or "Closes #115" to your commit message and, when the PR is merged, the referenced issue is automatically closed ;)

[2016-01-22 10:27] #113 closed

[2016-01-22 11:54] #112 closed

[2016-02-09 12:07] reitzig opened #117 "Multiple "auto" links"
When I post multiple comments on the same post, I get this:

![](http://i.imgur.com/dZXNvPp.png)

One additional link pops up after every comment.

[2016-04-11 16:08] JonasCz opened #118 "Junk HTML is added when inserting a comment while editing it"
To reproduce:

* Open the dialog with the "_auto_" link

* Double click one of the comments to edit it

* Then click the Insert button _without_ first saving or cancelling the modifications to the comment in the list.

* The following HTML is inserted into the comment area:

    ```<textarea></textarea><div class="actions"><a>save</a><span class="lsep"> | </span><a>cancel</a></div>```

I encounter

[2016-04-19 11:58] IzzySoft opened #119 "Merging from devel to master"
@Benjol would you consider merging (and declaring 1.4.1 a release)? There are bug fixes in devel sitting there for over a year now. Took me almost an hour to figure why userinfo wasn't retrieved on a new installation – a bug I've fixed with 80b4075 in March 2015 (the corresponding issue #87 was closed the same month).

In case you're busy elsewhere, maybe @oliversalzburg could do this? ;)

Thanks

[2016-04-19 12:10] Benjol commented on #119
Yeah, sorry.
I haven't been very active at all, and right now I can't even get git pull
working properly here (cert issues, drives me up the wall).

Also, I must admit I never really got my head around the way Caleb set up
the build/release cycle.

Another problem is I believe I'm the only person who can release the Chrome
and Firefox addins (or upload them). Though I guess I can probably still do

[2016-04-19 12:49] oliversalzburg commented on #119
We won't be able to release the Firefox extension, because Mozilla changed their extension infrastructure *again* and they're no longer accepting extension updates built with the previous version of their SDK. The migration documentation was a joke, the last time I checked.

I'd be happy to merge up a new release.

[2016-04-19 12:55] oliversalzburg commented on #119
There already is a [1.4.1 release](https://github.com/Benjol/SE-AutoReviewComments/releases/tag/v1.4.1), but, I guess, it was never published? I'll try to push a 1.4.2 now.

[2016-04-19 13:06] Benjol commented on #119
One of you guys should get hired by SE, then you could integrate it there
and save us all the trouble :)

On 19 April 2016 at 14:55, Oliver Salzburg <notifications@github.com> wrote:

[2016-04-19 13:09] #100 closed

[2016-04-19 13:09] #103 closed

[2016-04-19 13:11] oliversalzburg commented on #119
@Benjol I rather stay with my own company ;)

Also, [1.4.2](https://github.com/Benjol/SE-AutoReviewComments/releases/tag/v1.4.2) is released. I guess you can use the binaries to publish to Chrome Webstore. If there's anything else I can do, let me know and I'll try to squeeze it in.

[2016-04-19 13:11] #119 closed

[2016-04-19 15:33] IzzySoft commented on #119
I'd even go so far as to drop the FF addon altogether. I never used it, and Greasemonkey plus the UserScript are just working fine. So why taking the trouble (except, maybe, for being afraid Greasemonkey might disappear)?

Alternatively, the UserScript could be separated (and used as "module" in this git repo), so updates to it wouldn't depend on Firefox troubles being solved.

Thanks again @olive

[2016-04-20 05:15] Benjol commented on #119
@oliversalzburg, @IzzySoft
Updated in Webstore. Following your comments, I won't bother with FFx for the moment :)

[2016-04-27 19:53] Benjol commented on #119
@oliversalzburg, @IzzySoft

More hassle from Mozilla:

Your add-on, SE-AutoReviewComments, has been automatically signed.

We recently discovered a problem with the expiration date of add-on signatures.
As a result, for the next few weeks Firefox will not be able to recognize the signatures of some add-ons. We are contacting you because your add-on, SE-AutoReviewComments, is affected.

To address

[2016-04-27 20:00] IzzySoft commented on #119
That "enforced signing stuff" is nothing but trouble (and one of the reasons I'm still on FF43 – as starting with FF44 one no longer can use unsigned addons). I never understood why one wanted to convert UserScripts to Addons anyhow: even for unexperienced users, it's easy to just install Greasemonkey and use the scripts.

Well, I was never involved in the addon part, so it's not me to decide. But

[2016-04-27 20:15] oliversalzburg commented on #119
The Firefox addon is probably a lost cause. I got the same email regarding other addons of mine and I won't do anything about those either. I simply don't have the time :(

[2016-04-27 20:27] IzzySoft commented on #119
I only hope enough devs deal with it that time, so Moz rethinks the issue and brings back the possibility to use unsigned addons again. Maybe you ( @oliversalzburg ) should add the very same comment you've just made here to the issue linked by Moz? After all, with their "security feature" they're eating the time, efforts and fruits of the addon devs.

[2016-04-27 21:47] oliversalzburg commented on #119
@IzzySoft For me the issue starts much earlier. Even if I wanted to sign my addon, I couldn't because I would need to build it with a new toolset and the migration path is unclear. So, meh.

[2016-04-28 06:17] IzzySoft commented on #119
So without the signing requirement, it could be available to users – but thanks to the fact that users no longer can install unsigned addons, it's not. Thanks, Moz, for forcing upon us that kind of security: "what you can't install cannot affect your security", sure :rage: I wish there were a "compatible, slim alternative" working with all the addons but without the added crap.

[2016-06-16 20:11] 501st-alpha1 opened #120 "Allow some comments to be used on all sites"
While many of my auto-comments are site-specific, there is a not-insignificant set of comments that are the same no matter the site. As I understand it, the comments are currently stored in site-specific local storage, so I must manually copy/paste such comments across any sites that I want to use them on.

I'd like to request that an option be added to persist some auto comments across all StackE

[2016-06-18 06:11] 501st-alpha1 opened #121 "Allow comments to be organized into groups"
With a large number of auto comments (which can happen if you e.g. import from [this repo](//github.com/SO-Close-Vote-Reviewers/auto-comments)), it can be hard to navigate to quickly find the right one. One option to make the correct comment easier to find was suggested in #113.

I'd like to propose another option: it would be nice to have the ability to sort the auto comments into groups, maybe e

[2016-07-25 08:32] SylvainDe opened #122 "Apply to answers too"
Hello,
I haven't given this tool a try yet but it looks promising.
I was wondering if there would be an easy way to make this apply to answers as well : as I answer to code reviews, there are many explanations/links that I have to type/look for very frequently. If there was a way to be able to save my favorite resources/paragraphs so that they can be one click away, that'd be perfect.
I'll have a

[2016-08-03 05:06] danbopes opened #123 "Disable welcome message for certain comments"
I'd like for a way to be able to disable the welcome message for certain replies. For example:

This looks awful when prepended with "Welcome to Stackoverflow! ". I propose we have a way to mark auto comments that will bypass the welcome message completely.

[2016-08-25 22:20] 501st-alpha1 opened #124 "Show how many questions/answers the OP has posted"
For 1-rep users with older accounts, I often find myself opening up their profile page to see how many questions/answers they have posted, and if the current post is their first, then I usually add the welcome message manually. (Often users will sign up for a Stack Exchange account, but not use the site right away.)

It would be nice to show this information alongside their rep, account age, etc.

[2016-08-26 09:10] tms13 opened #125 "Allow substitution based on poster's privileges"
I have a stock comment for weak answers that should really be comments:
[code]
As this so often applies to new users, they may well not have the privileges to comment, so this message isn't exactly appropriate.  I'd love to be able to have alternatives based on their privileges:
[code]
and/or
[code]

[2016-08-27 11:30] Benjol commented on #125
This seems a bit feature-creepy to me, you're welcome to fork and implement your own version.
Sorry if that seems like a cop-out.

[2016-09-02 08:11] 5chdn opened #126 "Can not save custom entries in Firefox."
I have a [list of custom comments](https://gist.githubusercontent.com/5chdn/3c9cb4365a523fd53dd3dcb96eca57c3/raw/d01a3fc790ba6ff9447d947e8afb3dc392d4ffda/AutoReviewComments.md). I can import them just fine as markdown, as json or simply copy and pasting it.

However, when I switch the  tab or go to another thread in the same tab or at last after restarting the browser, all my custom comments are g

[2016-09-02 15:51] Benjol commented on #126
Very strange.
The data is stored in localStorage. Maybe you've got some kind of anti-spyware plugin which is a bit too enthusiastic?

[2016-09-02 17:59] 5chdn commented on #126
Looked into the storage inspector. It seems my browser deletes localStorage on close. But which category does localStorage belong to?

![screenshot at 2016-09-02 19-54-06](https://cloud.githubusercontent.com/assets/15729797/18213232/7f8fa7f8-7147-11e6-8c8e-19c0ae004315.png)

Is there any way I can define my defaults elsewhere? I don't want to change how my browser deals with history and data in fi

[2016-09-04 17:14] oliversalzburg commented on #126
Offline Website data, I guess

On Sep 2, 2016 19:59, "Afri" <notifications@github.com> wrote:

[2016-09-04 21:11] 5chdn commented on #126
Well it's obiously related to my browser settings. Keeping Offline Website Data did not do the trick for me.

[2016-09-04 21:11] #126 closed

[2016-10-04 13:56] tms13 commented on #125
Fair point.  I do like the similar feature in the review queues, where users who can't yet comment get a message to stick to questions that don't need clarification until they have sufficient privileges.  I'm unlikely to find time to work on this, and it doesn't bother me too much, so I guess the idea will just languish until somebody else picks it up.

[2016-11-10 23:48] 501st-alpha1 commented on #125
Would it be less feature-creepy (or otherwise better) if the condition applied to the entire comment? E.g.:

    ###[A] No code in answer (>50)
    While this might be a valuable hint to solve the problem, an answer really needs to demonstrate the solution.  Please [edit] to provide example code to show what you mean.
    Alternatively, consider writing this as a comment instead.

    ###[A] No co

[2016-11-12 07:20] abenkovskii opened #127 "Not working in Firefox 49.0.2"
I'm experiencing an issue similar to this: #77. The "auto" link doesn't show up in firefox.
I tried installing the Firefox add-on (version 1.4.1.1-signed.1-signed). I also tried installing the script (version 1.4.2) using gracemonkey (3.9).

[2016-11-12 07:47] abenkovskii commented on #127
Update: version 1.4.2 doesn't appear to be working in chromium 54.0.2840.90 either (both as add-in and as tampermonkey extension).

[2016-11-12 19:40] abenkovskii commented on #127
Sorry. Turns out I am a moron. I didn't look at the screenshot properly and was looking for the link near the "flag" link. By looking at the source code I figured out that I'm supposed to click "add a comment" and than the "auto" link shows up to the right of the comment box.

[2016-11-12 19:40] #127 closed

[2016-11-14 20:22] Benjol commented on #125
@501st-alpha1 that looks a bit better. I'll mull it over but must admit I'm a bit 'booked' at the moment so time not much free to work on it...

[2016-11-17 18:30] Benjol commented on #125
@501st-alpha1 that looks a bit better. I'll mull it over but must admit I'm a bit 'booked' at the moment so time not much free to work on it...

[2017-01-14 15:43] Franck-Dernoncourt opened #128 "Why does the autocomment window seem to load forever (moving dots)?"
Why does the autocomment window seem to load forever (the dots keep moving)?

![se autocomment load](https://cloud.githubusercontent.com/assets/15331/21956061/08fc2dc4-da46-11e6-8e50-9b917454a569.gif)

I use the Google chrome extension.

[2017-01-16 07:41] Benjol commented on #128
Dunno, that's the part where the extension is trying to recover user
information to display.
I've just tried it in chrome on that exact same question and it works for
me :)
Have you got some extensions which might block ajax requests?

On 14 January 2017 at 16:43, Franck Dernoncourt <notifications@github.com>
wrote:

[2017-03-15 13:01] DidierLoiseau opened #130 "Firefox extension is not compatible with multiprocess"
According to the [Add-on Compatibility Reporter](https://addons.mozilla.org/en-US/firefox/addon/add-on-compatibility-reporter/), this extension is not compatible with multiprocess (a.k.a. [Electrolisys](https://wiki.mozilla.org/Electrolysis)) and prevents to enable it automatically.

[2017-03-15 22:05] oliversalzburg commented on #130
The way Firefox addons have to be built change to often and rapidly that the build process of this addon could not keep up. I would recommend switching to the user script.

[2017-04-01 13:28] krichter722 opened #131 "Owncloud text file as remote source loads for ever"
Specifying an owncloud text file (e.g. https://richtercloud.de:451/index.php/s/aKBncvJnKMzgbDM/download) causes the action after pressing the `get` button to load for ever.

Feel free to use the provided link for investigation, it only contain sensible information.

experienced with 1.4.1.1-signed.1-signed in Firefox 52.0.2 on Ubuntu 16.10

[2017-04-01 20:33] kevin-brown commented on #131
It _probably_ has something to do with the fact that the file is being force-downloaded, instead of being rendered as a text file through the browser.

[2017-04-03 11:40] krichter722 commented on #131
It'd be nice if the add-on would support those fore-downloads as well.

[2017-04-06 08:13] oliversalzburg commented on #131
The link is down.

[2017-04-06 08:13] #131 closed

[2017-04-14 08:12] reitzig opened #132 "Importing remote, or any JSON"
I used to be able to use

    https://gist.githubusercontent.com/reitzig/7ca05408f53292505294/raw/def-comments-csSE.json

as remote URL and get the JSON from there (Firefox). Now the user script forgot my custom comments so I wanted to re-load them, but it does not work any longer, even with all script blockers deactivated. Maybe related to #39? Used to work after 2014, though.

I also can't seem

[2017-05-14 03:17] cellio commented on #132
I've been having this problem for a couple months too, in both Chrome and Firefox.  My custom comments went away, I said "huh that's odd" and tried reimporting, and the import spins forever without completing.

[2017-05-15 09:29] oliversalzburg commented on #132
I hope I'm not stepping on the feet of other contributors, but I think, unless you're opening the PR yourself, there are unlikely going to be any fixes anytime soon. I'd be happy to help anyone getting started with the code base.

[2017-05-15 09:57] reitzig commented on #132
If there are features the contributers can't support, then take them out? That much should be an easy and quick task.

One import and export method is quite enough (assuming it's well-documented); the rest is convenience. But the one should work reliably, otherwise the script is nearly useless. :/

[2017-05-15 09:59] oliversalzburg commented on #132
Feel free to submit a PR.

[2017-05-15 10:15] Benjol commented on #132
I admit to having some difficulty getting up motivation (and time) to look
into this, though now having several people reporting problems maybe I
should...

On 15 May 2017 at 11:29, Oliver Salzburg <notifications@github.com> wrote:

[2017-05-15 10:17] Benjol commented on #132
In reply to Raphael, it's actually the jsonp format which is 'new'. The
internal format is markdown, the jsonp function was just a convenience to
allow people to write the comments in markdown then convert to jsonp for
remote.

I'll give it a few minutes and see if I can find anything. No promises..

On 15 May 2017 at 12:15, Ben Simkins <ben.simkins@gmail.com> wrote:

[2017-05-15 10:38] Benjol commented on #132
(Sorry, stream of conciousness debugging here)
If I try the github from @reitzig, FFx console says
`The resource from “https://raw.githubusercontent.com/Benjol/SE-AutoReviewComments/master/dist/autoreviewcomments.user.js” was blocked due to MIME type mismatch (X-Content-Type-Options: nosniff)`

There's a link which sends me [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Content

[2017-05-15 13:15] cellio commented on #132
@oliversalzburg I came here because the post on Stack Apps (https://stackapps.com/q/2116/21539) directs people here for bug reports.  That post was my entire context for this repo before coming here.  I didn't know that bug reports were only welcome with accompanying PRs.  If the guidance has changed, could someone update that post (or let me know and I'll submit an edit)?

If converting to anothe

[2017-05-15 13:17] oliversalzburg commented on #132
All bug reports are welcome. It's just unlikely that they will be handled by the original authors anytime soon. So, if you want to make sure that a fix becomes available ASAP, submitting a PR helps :)

[2017-05-15 13:20] cellio commented on #132
Ok, got it.  Not equipped to provide the PR, alas.

[2017-05-15 13:27] reitzig commented on #132
@cellio The remote issue won't be solved by using Markdown, I think. But the manual import works, at least.

[2017-05-15 14:01] Benjol commented on #132
In fairness to myself, Oliver and others, the goalposts keep changing:
notably when browsers become more strict, or their plugin policies mutate.

(@Shog9 was kind enough to submit a PR the last time Stack Exchange broke
the script)

My day job hasn't involved web for a long time now, and I'm not in the
rockstar category of people who carry on working when they get home :)

On 15 May 2017 at 15:20

[2017-05-15 15:10] cellio commented on #132
Yeah, I'm not criticizing anybody for not keeping up with changes in the web ecosystem.  If you thought I was, please accept my apologies for the miscommunication.  I appreciate the work of people who volunteer their time and effort to make improvements like this script.

[2017-05-15 15:37] Benjol commented on #132
No worries, I didn't read your comment that way, was just generally bemoaning the mismatch between what I'd like to be able to do and what I can do.

-----Original Message-----
From: "cellio" <notifications@github.com>
Sent: ‎15/‎05/‎2017 17:10
To: "Benjol/SE-AutoReviewComments" <SE-AutoReviewComments@noreply.github.com>
Cc: "Benjol" <ben.simkins@gmail.com>; "Mention" <mention@noreply.github.com>

[2017-05-18 06:52] Benjol commented on #132
Could someone try importing from somewhere other than github?
Would be interesting to work out if the problem is on the server or client end...

[2017-05-18 16:03] cellio commented on #132
I don't store mine on GitHub:

http://www.pobox.com/~cellio/se/comments/

[2017-05-22 05:24] Benjol commented on #132
@cellio, not this IS weird, because I just tried yours and they worked?! (I clicked the import "get now" link). Can you try again?

[2017-05-23 02:40] cellio commented on #132
@Benjol hmm, that's weird!  It's still spinning from me (Chrome, Mac 10.12).  Just in case there's something weird in the JSON for just one of them, I tried yodeya.jsonp last week and then manually added them, and today I tested with writers.jsonp.

[2017-05-23 04:53] Benjol commented on #132
Just read this on StackApps (comments on [this](https://stackapps.com/a/3281) answer), if someone wants to try.

"Just in case anyone else is looking to do this, if you want to store your JSONP on GitHub you will need to use the file extension .js and then use [RawGit](https://rawgit.com/) to serve the content up using the correct, executable, mime type."

This just became more urgent because the

[2017-05-23 05:13] barmar opened #134 "Migrate comments from HTTP to HTTPS"
SE has switched all their sites from HTTP to HTTPS (https://stackoverflow.blog/2017/05/22/stack-overflow-flipped-switch-https/?cb=1). None of my saved comments are showing up now. It would be great if you could provide a way to copy all the comments over, or make the URL matching independent of this distinction.

Or just tell me where the comments are saved, I could probably update it by hand easi

[2017-05-23 05:52] Benjol commented on #134
Thanks for the heads-up!

I'm not sure that there's a way to do this automagically. It's cross-domain security stuff.

The comments are stored in localStorage, which you can access via the Developer plugin in Firefox (you have to edit the settings in the Developer plugin to show the Storage tab). BUT that doesn't help, because as far as I can tell, you can't see storage data for anything other tha

[2017-05-23 05:59] barmar commented on #134
I'm using Chrome on OS X. https://superuser.com/questions/507536/where-does-google-chrome-save-localstorage-from-extensions explains where it stores local storage, I'll try to find this.

[2017-05-23 06:08] barmar commented on #134
Chrome stores local storage in ~/Library/Application Support/Google/Chrome/Default/Local Storage/. Each domain has two files:

http_stackoverflow.com_0.localstorage
http_stackoverflow.com_0.localstorage-journal

I suspect I could just copy these to https_XXX.

[2017-05-23 06:28] Benjol commented on #134
@barmar, yes that's what I figured too, I'm not sure what the -journal file is.
Try it and let us know!

[2017-06-09 17:33] stevecheckoway commented on #123
The auto welcome message saves a little bit of typing when setting the default answers, but looks quite bad on some StackExchange sites, e.g., [TeX SE](https://tex.stackexchange.com). One possibility would be to allow the user to customize the welcome message, but I think a better option is to just remove it entirely and then users can insert a welcome message explicitly in the auto comments that

[2017-06-13 05:01] Benjol commented on #123
@stevecheckoway, took a while for me to come here to reply, but it looks like you worked it out yourself in the meantime :)

[2017-10-13 10:05] nitsnatsnok opened #135 "Replace $QUESTIONID$ with the ID of the question"
Similar to the behaviour of `[username]`, `[OP]` and `$MYUSERID$` please implement `$QUESTIONID$` so that one can do a thing like:

    ###[Q] Edit, dude
    You really need to [edit](https://$SITEURL$/posts/$QUESTIONID$/edit) your question.

[2017-10-14 09:32] Benjol commented on #135
Nice idea, but not much time available at present, unfortunately.

From: nitsnatsnok [mailto:notifications@github.com]
Sent: vendredi 13 octobre 2017 12:06
To: Benjol/SE-AutoReviewComments
Cc: Subscribed
Subject: [Benjol/SE-AutoReviewComments] Replace $QUESTIONID$ with the ID of the question (#135)

Similar to the behaviour of [username], [OP] and $MYUSERID$ please implement $QUESTIONID$ so that o

[2017-10-23 08:21] Cerbrus opened #137 "Chat sites should be blacklisted."
This userscript shouldn't run on SE's chat sites. To fix, add these excludes:

    // @exclude /^https?:\/\/(.*\.)?chat.stackoverflow\.com/.*$/
    // @exclude /^https?:\/\/(.*\.)?chat.stackexchange\.com/.*$/

[2017-10-23 08:32] oliversalzburg commented on #137
We have open PR #133, but the contributor, so far, wasn't able to provide a proper patch. A proper PR would be greatly appreciated.

[2017-10-23 08:38] Cerbrus commented on #137
Same issue here... what's going on there? o.O

[2017-10-23 08:40] oliversalzburg commented on #137
The editor being used changed the line endings of the file. Or it replaces tabs with spaces or something like that.

[2017-10-23 08:52] Cerbrus commented on #137
See #138, Created a proper PR.

[2017-10-23 08:55] #137 closed

[2017-11-15 09:29] surajrao opened #139 "Allow auto-get and sync comments from multiple remote sources"
As discussed in SOCVR chat [here](https://chat.stackoverflow.com/transcript/message/40035817#40035817) I would like to request an enhancement/feature where a user can sync comments from multiple source URLs like SO.Main comment repo in SOCVR and SE comment repo in Charcoal url:https://charcoal-se.org/userscripts/charcoal-autocomments/comments.js or any other private url.

[2017-12-04 19:46] gunr2171 opened #143 "When keyboard shortcuts are enabled in your SO profile you are unable to type some characters into the new filter text box on the auto comments dialog window"
Steps to reproduce:

1. Enable [Stack Overflow keyboard shortcuts on your profile][1]
2. Go to a post, click "auto" link to bring up the auto comments dialog
3. Focus is given to the [search box][2]. Press the "a" key on the keyboard.

Notice that instead of typing "a" into the search box, focus is moved to the answer text box.

This happens with all other keys that are used by the Keyboard Shortc

[2017-12-31 07:02] isiahmeadows commented on #130
@oliversalzburg I'll note that Firefox, like Edge and Safari, are all now solidifying on a [spec largely inspired by Chrome's own extension API](https://developer.mozilla.org/en-US/Add-ons/WebExtensions). So most of that flux is starting to die off, and people have already found that [many Chrome extensions just work in Firefox without any modification](https://addons.mozilla.org/en-US/firefox/add

[2018-01-13 12:43] surajrao opened #145 "Stackexchange.ready is not a function"
Go to https://stackexchange.com

Following error in the console:

[code]
![Stackexchange.ready is not a function](https://user-images.githubusercontent.com/5566582/34906159-3dc29d52-f88d-11e7-88c8-41cf344d56f6.PNG)

Regex probably needs a tweak:

`// @include /^https?:\/\/(.*\.)?stackexchange\.com/.*$/
`

[2018-01-18 19:29] Blacksilver42 opened #146 "Replaces angle brackets with HTML entities"
e.g.,

    ###[Q]
    Try making this into a [mcve], please! <3

Results in

    Try making this into a [mcve], please! &lt;3

[2018-01-28 06:31] zixuan75 commented on #127
@abenkovskii What are you saying? I don't understand.

[2018-01-28 06:57] makyen commented on #146
This is a duplicate of #109.

[2018-01-28 21:13] #146 closed

[2018-01-28 21:14] Blacksilver42 commented on #109
Pls fix I like putting hearts in my comments.

A Minimal example that reproduces the problem, for reference:

[2018-02-09 06:06] surajrao commented on #145
Workaround it change the include to `// @include /^https?:\/\/(.*\.)stackexchange\.com/.*$/`

[2018-02-15 15:42] krichter722 opened #148 "Add-on is not compatible with Firefox >= 57/Quantum"
This applies to v1.4.2-18-g20e6aa3 as well.

[2018-02-15 16:34] oliversalzburg commented on #148
You probably want to use the userscript at this point.

[2018-02-15 17:18] makyen commented on #148
This is effectively a duplicate of #130.

As the README.md says, the Firefox extension is "is deprecated until further notice".

However, if someone wanted to work on it, it's quite likely that the code which is currently used for the Chrome extension would work in Firefox with no/minimal changes.

[2018-02-19 13:41] episanty opened #149 "Update link from MSO to MSE"
The default comments include a link to MSO in

      ###[A] Nothing but a URL (and isn't spam)
      Whilst this may theoretically answer the question, [it would be preferable](//meta.stackoverflow.com/q/8259) to include the essential parts of the answer here, and provide the link for reference.

which should really be updated to its corresponding MSE version, `https://meta.stackexchange.com/a/825

[2018-02-20 10:45] oliversalzburg commented on #149
I'd be happy to merge a pull request with the suggested change.

[2018-03-13 14:46] surajrao opened #150 "Autocomments throws error in SO Teams"
Below is the error in the console when you click on edit on a post in any team.

[code]
This was in teams beta.

It needs to a tweak to avoid parsing `-/c/<team>` in the `post-editor-177` id.

     <div id="post-editor-177" class="post-editor js-post-editor">

Posting because of impending changes in UI.
Refer to meta post [here](https://meta.stackexchange.com/questions/307862/ch-ch-ch-changes-left

[2018-03-14 03:29] surajrao commented on #150
`https://stackoverflow.com/c/charcoal/posts/197/edit` here is sample teams url

[2018-03-14 19:24] oliversalzburg commented on #150
@surajrao Can you verify if e2ee7aae33a89dbfa2a7e5c5e3939b0e7bba41af fixes this?

[2018-03-15 08:44] oliversalzburg commented on #145
@surajrao Would you suggest we add that to the script? Do you want to create a pull request maybe?

[2018-03-15 08:46] oliversalzburg commented on #148
We should probably remove the old Firefox extension from the build and publications to avoid further confusion. I agree with @makyen that this is a duplicate of #130.

[2018-03-15 08:46] #148 closed

[2018-03-15 10:34] surajrao commented on #150
@oliversalzburg  yeah. That works!

[2018-03-15 11:29] oliversalzburg commented on #150
@surajrao Awesome, thanks. I will merge this later today and build a fresh release.

[2018-03-15 12:01] surajrao commented on #145
Its working without a glitch for me.. I could do a pull request. But do I need to just make changes in dist / folder or the build xml file ?

[2018-03-15 12:25] oliversalzburg commented on #145
Heh, good point. I forgot about how these URLs are generated. Probably a bit more complicated than I hoped.

[2018-03-15 18:18] #150 closed

[2018-03-15 19:12] #93 closed

[2018-03-15 19:14] oliversalzburg commented on #93
I got it over with now. Even though it's a ton of changes, it's mostly changes in consistency.

Although I *really* hope I didn't mess up any of the escaped quotes :D

[2018-03-15 21:05] #109 closed

[2018-03-15 21:06] oliversalzburg commented on #109
If someone could give this a thorough testing before the next release, that'd be great ;D

[2018-03-15 21:20] oliversalzburg commented on #145
This is also related to #133 and #138 as the latter only fixed the `dist` files.

[2018-03-15 21:31] oliversalzburg commented on #145
The userscript already uses `// @include /^https?:\/\/(.*\.)?stackexchange\.com/.*$/`. So that can't be the fix :D

I guess it would need to be `// @include /^https?:\/\/(.*\.)stackexchange\.com/.*$/` (`?` removed). But that require a lot of changes in the build system.

How about we just add `// @exclude *://stackexchange.com/*`? This seems to resolve it for me.

[2018-03-15 21:59] makyen commented on #109
First: Sorry, I've never gotten around to recreating the build environment for this script. Thus, I've never back-ported any changes I've made to my personal copy into something suitable for a PR here.

The solution appears complex and limited to a small set of HTML entities.

I've just been using:

    function htmlToMarkDown(html) {
      markdown = html.replace(/<a href="(.+?)">(.+?)<\/a>/g, '[

[2018-03-16 19:09] oliversalzburg commented on #109
@makyen Does this also take the conversions during import/export into account?

I've previously planned for wider support, but I ran into issues during the different conversion processes. I'm not at all opposed to wider support or more proper approaches.

[2018-03-16 21:20] makyen commented on #109
I haven't tested with importing from a network based repository. I do, routinely, edit through the import/export `<textarea>` (sometimes including complete replacement). I've experienced no issues. OTOH, I have not extensively tested.

After a somewhat more testing, what I provided didn't handle entering `&amp;` into the `<textarea>`.

The following does what I'd expect to happen with this functio

[2018-03-18 19:28] oliversalzburg commented on #109
@makyen Could you open a pull request with this change?

[2018-05-18 21:10] IzzySoft commented on #132
Any idea at all why the custom comments are frequently forgotten? For me, this happens about twice a week, on multiple machines, and I've got to copy-paste from my Gist then (auto-pull doesn't work, as reported above). To clarify: the auto-import not working I can live with. What bothers me is the script's permanent Alzheimers.

[2018-06-13 12:18] GaurangTandon opened #152 "Chrome extension detects user id of latest editor in place of the original poster"
![image](https://user-images.githubusercontent.com/6308683/41350774-cf4882e4-6f31-11e8-8a7f-e4f524337c74.png)

This is the first time I noticed this bug. Happened on [this question](https://chemistry.stackexchange.com/questions/98240/how-to-calculate-partial-pressure). Not sure if it happened before, but I'll keep an eye out on future occurrences.

Any idea what may be causing the issue?

[2018-06-13 12:19] GaurangTandon commented on #152
Reloading the page fixed the issue :/ Closing the issue for now, but still not quite sure what went wrong in that meantime.

[2018-06-13 12:19] #152 closed

[2018-06-18 10:36] IzzySoft commented on #132
@Benjol I don't remember what time it started. Unless you did some GDPR changes, I doubt it's that. I rather suspected some FF changes (v55+), but I'm not sure. In the interim I thought it might be my cookie policy (for some reason I had permitted session cookies only), but even after allowing all cookies, the issue persists. Just had it again yesterday. And it's hard to trace – as when they're go

[2018-06-18 11:04] oliversalzburg commented on #132
As Chrome says in response to the request:

This is not going to work because Gist provides the data as `text/plain`. The reason that this is not working is by-design. The data needs to be provided with the correct MIME type for this to function.

https://stackoverflow.com/questions/39228657/disable-chrome-strict-mime-type-checking

[2018-06-18 11:19] IzzySoft commented on #132
@oliversalzburg OK, that explains the import part. But not why the data is frequently forgotten. What does purge it from localStorage? Any idea?

[2018-06-18 12:42] IzzySoft commented on #132
@oliversalzburg could one of the answers to [how to create a gist in github that returns json data](https://stackoverflow.com/q/27635355/2533433) work?

[2018-06-18 16:39] oliversalzburg commented on #132
To my understanding, LocalStorage is cleared if you clear your browser history. Of course the details depend on browser, version, clear options, but there is always the potential to also clear the items stored in LocalStorage for a site. I would assume this is a common reason for the observed behavior.

Additionally, Stack Overflow sites have moved to HTTPS a while ago, which made them new sites f

[2018-06-18 23:16] IzzySoft commented on #132
@oliversalzburg

That's one possibility (doesn't match the occurences here, as I did no such thing). A second possibility is they are bound to the cookie policy. So e.g. SDC (Self Destructing Cookies; pre-FF57 Firefox addon) purges localStorage along with the cookies if they expire – which is why I mentioned that above. Should no longer be the case here as I've set the cookies for "my SE sites" to

[2018-06-19 08:44] oliversalzburg commented on #132
The only thing I can add is that we also use LocalStorage extensively in our company products and I am not aware of a single case where the data stored there "cleared itself". Maybe some script on the sites clears the information stored there. Maybe they clear it on logout.

Was this noticed in non-Firefox browsers too?

[2018-06-19 10:31] IzzySoft commented on #132
That would mean everybody using this script must have this issue. I don't know who does, so I cannot ask for confirmation. The only item I cannot match to ARC in localStorage is one with the key `se:fkey` – which [indeed is from SE itself](https://stackoverflow.com/q/26891083/2533433). And they might reset that from time to time, in the wrong way ("clear all localStorage as we don't know of any ot

[2018-06-19 10:33] reitzig commented on #132
I have not been experiencing forgotten comments.
I seem to remember one instance (_might_ have been the SSL thing) but it's definitely not happened in a while.

Using Firefox, currently 60.0.2.

[2018-06-19 13:18] IzzySoft commented on #132
Thanks, @reitzig – so it's unlikely to be triggered by some SE cleanup script. I have this symptom with two browers: Waterfox 56.2 (also had it with 56.1 before) on Win7, and Firefox 55.* on Linux (which I haven't yet replaced by Waterfox).

[2018-06-19 16:08] reitzig commented on #132
Come to think of it, I also use SOUP, which may or may not influence how SE interacts with AutoReviewComments.

[2018-06-19 22:01] IzzySoft commented on #132
I've just had it again. Wish there was a log to check for the culprit.

[2018-06-19 22:08] cellio commented on #132
@IzzySoft  I haven't recently noticed comments disappearing.  I haven't tried auto-update in ages because of the earlier comments; when I change something I just re-import.  (And I'm using markdown now instead of json.)

I'm using Firefox (which I just checked) and Chrome (which I'll verify again later).  I also use SOUP.

[2018-06-19 22:31] IzzySoft commented on #132
Sounds like I have to take a look into the kitchen. Can any of you two (@cellio and @reitzig ) give me some link to find me some soup?

[2018-06-20 05:21] reitzig commented on #132
[Here you go!](https://stackapps.com/questions/4486/the-stack-overflow-unofficial-patch-soup) Greates SO userscript, period.

[2018-06-20 06:28] IzzySoft commented on #132
Thanks! Installed on my Linux machine. Though I couldn't find out what exactly it does. Guess I'll learn that shortly, at least part of it :grin:

[2018-07-02 03:38] pmahend1 opened #153 "remote not working on Firefox developer edition from today"
remote is not syncing jsonp from which I have saved on my github. It was working earlier today. Tried disabling anti-virus , u-block origin but did not work.

[code]

[2018-07-02 14:38] pmahend1 commented on #132
@reitzig Thanks. Installing [Soup](https://stackapps.com/questions/4486/the-stack-overflow-unofficial-patch-soup) fixed issue for me!

[2018-07-02 14:38] pmahend1 commented on #153
Thanks. Installing [Soup](https://stackapps.com/questions/4486/the-stack-overflow-unofficial-patch-soup) fixed issue for me!

[2018-07-02 15:09] IzzySoft commented on #132
Unfortunately not for me. It's still "forgetting" my comments about once a week.

Need to take a closer look at *when* this happens. Right now, it was on the first call after a browser restart. Not sure if it was the same in all other cases.

[This SO post](https://stackoverflow.com/a/37105645/2533433) says:

In my case, neither a nor b are met. No idea what c refers to. But it might well be that

[2018-07-02 15:20] pmahend1 commented on #132
@IzzySoft Sorry. It doesnt anymore. deleting my comment so that it wont distract users.

[2018-09-06 19:44] gparyani opened #154 ""auto" button appears in wrong spot on sites with responsive design"
The "auto" button appears in the wrong spot on sites with responsive design:

![auto wrong place](https://user-images.githubusercontent.com/6440487/45181146-2fa78380-b1e3-11e8-8a12-e64f46d1b4ef.PNG)

...and if the new contributor indicator is visible:

![auto wrong place new contributor](https://user-images.githubusercontent.com/6440487/45181181-48b03480-b1e3-11e8-9835-da9be64b1654.png)

Reproduce

[2018-09-06 19:47] gparyani opened #155 "Reduce code complexity by piggybacking the "welcome" check based on whether or not the "new contributor" indicator is visible"
Currently, the script bases whether or not to put in a welcome message in an automatic comment on its own criteria.

I think that the code's complexity can be reduced by not using its own criteria, but instead simply checking to see if the "new contributor" indicator is visible on that specific post. I usually manually type in the welcome message myself if the indicator is present, but the script

[2018-09-12 11:33] oliversalzburg commented on #154
Nobody is actively maintaining this script. If you need something changed, you're going to want to create a pull request for it. A warning though, there is also no guarantee there will be anyone there to review/merge it, as I definitely won't do it.

Sorry :(

[2018-09-20 00:46] samliew opened #156 "Default welcome message references incorrect variable for site name"
Fresh install of AutoReviewComments userscript uses the wrong site name.

![capture](https://user-images.githubusercontent.com/845988/45789318-6771f900-bcc2-11e8-93a7-8eff46eec763.PNG)

[2018-09-20 00:51] samliew commented on #156
I think this is due to the script using the window title, and the format has changed recently?

![capture](https://user-images.githubusercontent.com/845988/45789427-e6ffc800-bcc2-11e8-87f1-362e9553f761.PNG)

![capture2](https://user-images.githubusercontent.com/845988/45789452-1282b280-bcc3-11e8-8c84-0ac0814a49c1.PNG)

[2018-09-20 00:53] samliew commented on #156
I recommend using the existing global variable for this instead

`var sitename = StackExchange.options.site.name;`

[2018-09-20 10:02] oliversalzburg commented on #156
If you submit a pull request, I'd merge it, but I try not to contribute to Stack Overflow anymore in any way myself. Not sure about the other maintainers :)

[2018-09-20 10:52] Benjol commented on #156
I'm still here, though not very involved either.

On Thu, 20 Sep 2018 at 12:02, Oliver Salzburg <notifications@github.com>
wrote:

[2018-09-20 14:20] #156 closed

[2018-09-29 03:08] samliew commented on #156
@oliversalzburg how do I get the src built into dist? Is there CI set up or should I also make a manual PR for the dist version of the userscript?

[2018-10-01 08:28] Benjol commented on #156
@samliew does this page in the wiki answer your question?
https://github.com/Benjol/SE-AutoReviewComments/wiki/Building
Or are you asking about getting that back here in the Releases in github?

[2018-10-01 10:09] samliew commented on #156
Yes, the latter. Correcting the source isn't good enough as by itself isn't installable by the userscript manager.

[2018-10-02 10:45] oliversalzburg commented on #156
@samliew I rebuilt the dist files and pushed them up. Is that sufficient?

[2018-10-02 13:57] samliew commented on #156
Sweet! Thanks, that will do fine

[2018-11-16 02:18] makyen commented on #128
The reason this is happening is that the request to the SE API fails. The script currently does not send an API key along with it's request to the SE API. This means that it's sharing the 300 total requests from that IP which are permitted per day<sup>1</sup> for applications without an API key. If you have other applications which also don't have API keys, then your quota of requests is quite lim

[2018-11-16 10:36] oliversalzburg commented on #128
@makyen Nice work. Could you provide a PR with an appropriate change for this?
@Benjol Would you be able to generate an API key? I could do it, but I think it would be best if everything is in your hands.

[2018-11-16 18:54] makyen commented on #128
@oliversalzburg While I could provide a PR, I would need the API key which is desired to be used. While it's possible for anyone to get an API key for any random application, the most appropriate thing is for the API key to be obtained by the owner of this application. Once that's obtained, the change is trivial (i.e. just add ` + '&key=[This apps SE API key here]'` to the line I quoted. IMO, it w

[2018-11-16 19:40] oliversalzburg commented on #128
@makyen I understand that this seems like the effort is not in relation to the scope of the change, but a lot of the original maintainers of the project have become somewhat detached from it. The best **I** can do is to help organize efforts and build a new release every once in a while.

[2019-01-09 01:42] Ethan-JK opened #159 "Add a way to insert the name of the poster into the welcome text and the auto comments."
I like to say "Welcome to Stack Overflow, *[name]*." Could you make it so `[name]`is automatically changed to the poster's name? This would work anywhere, but would be most helpful in the welcome box.

[2019-01-09 14:52] oliversalzburg commented on #159
Nobody is currently actively maintaining the project. So, very unlikely, unless you provide the PR yourself.

[2019-02-01 22:04] barmar opened #160 "How do I restore lost auto comments?"
I cleared my browser data yesterday, and lost all my personalize auto comments in the process. I have Time Machine backups, so I should be able to restore things from before that, but I haven't been able to do this successfully. I tried restoring just my Cookies file, and also tried restoring the entire ~/Library/Application Support/Chrome/Default directory.

Where were the comments stored, so I c

[2019-02-03 14:37] oliversalzburg commented on #160
The comments are stored in the browsers LocalStorage. I don't know how they could be retrieved from a cold state.

[2019-02-03 18:41] oliversalzburg commented on #159
As you wish. We don't automatically close issues here. You never know, someone might pick it up. Don't get your hopes up though.

[2019-02-03 19:55] barmar commented on #160
I tried restoring ~/Library/Application Support/Google/Chrome/Default/Local Storage/leveldb from a Time Machine backup, but all the comments reverted back to their defaults.

[2019-02-04 06:51] Benjol commented on #160
How about just searching your activity for comments and picking out the most used ones? Painful, but probably would take less time than you've already lost.

-----Original Message-----
From: "Barry Margolin" <notifications@github.com>
Sent: ‎03/‎02/‎2019 20:55
To: "Benjol/SE-AutoReviewComments" <SE-AutoReviewComments@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Subject: Re:

[2019-02-20 11:24] Heacien opened #162 "Bug with welcome message"
If the welcome message is like `Welcome to **$SITENAME$**!` the bold markdown prevents the parameter to get changed.

![ac_bug2](https://user-images.githubusercontent.com/12281340/53088530-509e2f80-350a-11e9-8b81-e007f0c6c1d1.PNG)

*Maybe I can solve this bug on my own - if I got some spare time left.*

[2019-02-20 14:00] oliversalzburg commented on #162
The majority of the work to be done is probably around https://github.com/Benjol/SE-AutoReviewComments/blob/master/src/autoreviewcomments.user.js#L356-L366

Create a fork, make your fixes in a branch, push the branch, create a pull request here and it'll probably make itself into the next release.

[2019-02-20 15:11] mplungjan opened #163 "Auto link suddenly disappeared today from Chrome 72"
I did not do anything like adblocking or so to change this. Just from one SO question to the next

[2019-02-20 15:51] NathanOliver1 commented on #163
Same issue here.  Running Chrome Version 72.0.3626.109 (Official Build) (64-bit) on Windows 10 Pro Version 1803.  Comments were working yesterday but are not working today.  It looks like they turned the help link in the comments to a help button so the auto link can't be inserted next to it.

[2019-02-20 15:57] mplungjan commented on #163
line 842      var injectNextTo = $("#" + divid).find(".comment-help-link");
Likely should be
      var injectNextTo = $("#" + divid).find(".js-comment-help-link");

[2019-02-20 16:04] LunarWatcher commented on #163
The same is also happening in Firefox 65.0.1 (64 bit) with the userscript (using Tampermonkey).

[2019-02-20 16:05] machavity commented on #163
I edited my local UserScript and confirmed it works

[2019-02-20 16:09] Tyler-H commented on #163
They probably adjusted the class name in one of their many daily builds...

[2019-02-20 16:13] mplungjan commented on #163
How to get the chance installed quickly?

[2019-02-20 16:16] machavity commented on #163
I'm not sure on the Chrome extension. I use TamperMonkey with FireFox (plugin stopped working with the big Mozilla plugin update last year) so I could edit the underlying JS file directly and get it working. You could always remove the plugin, install TamperMonkey and then install the ARC userscript version, then edit it. A lot of work, though, for what will hopefully get patched quickly.

[2019-02-20 17:19] oliversalzburg commented on #163
If someone could open a PR, I'd be happy to merge it and compile a new version of the script later at home.

[2019-02-20 17:20] oliversalzburg commented on #163
Oh, that already happened https://github.com/Benjol/SE-AutoReviewComments/pull/164 :D

[2019-02-20 17:20] #163 closed

[2019-02-20 17:29] machavity commented on #163
@oliversalzburg If you'll increment the version then the userscript crowd can get the update now. I know the Chrome extension will take longer

[2019-02-20 18:42] gparyani opened #165 "Script seems to have completely broken just now"
I tried to use the script today, but when I tried to, I see that the "auto" button is missing. I checked my user script manager to see if the script had been disabled by accident, but it's enabled.

It appears [others are facing the same issue](https://chat.meta.stackexchange.com/transcript/message/7566629#7566629), so it's not just an issue on my end.

What happened, and can it please be fixed?

[2019-02-20 18:44] gparyani commented on #165
Duplicate of #163

[2019-02-20 18:44] #165 closed

[2019-02-21 01:47] a-stone-arachnid opened #167 ""Auto" link not apperaing anymore"
Stack Exchange removed the class `.comment-help-link` on the comment help link, so that needs to be updated to `.js-comment-help-link` for it to work.

Using version 1.4.4 on TamperMonkey and Waterfox.

[2019-02-21 03:12] dtgriscom commented on #167
Confirmed, and I've just discovered how much I use this tool...

(A belated thanks!)

[2019-02-21 05:53] Benjol commented on #160
Closing as there's not much more we can do about this. Sorry.

[2019-02-21 06:11] #160 closed

[2019-02-21 06:13] Benjol commented on #167
Duplicate of #163, fix on the way...

[2019-02-21 06:13] #167 closed

[2019-02-21 06:34] Benjol commented on #162
It's not the bold. The Welcome message is quite simply not processed for tags.
This change will be slightly complicated by the fact that you need to display the unprocessed welcome message when editing it.

[2019-02-21 06:35] Benjol commented on #159
Already exists, except it's `[username]`

[2019-02-21 06:35] #159 closed

[2019-02-21 06:36] Benjol commented on #155
Good idea. Don't have time myself, but if someone wants to have a look, I'll pull.

[2019-02-21 06:55] Benjol commented on #149
Fixed in latest release, thanks.

[2019-02-21 06:55] #149 closed

[2019-02-21 06:58] Benjol commented on #163
Just released fix, v1.4.5

[2019-02-21 09:10] Glorfindel83 opened #168 "'auto' link doesn't show anymore"
As of today, the userscript isn't working for me (macOS 10.14.3, Firefox 65.0.1, Violentmonkey 2.10.1); the 'auto' link doesn't show anymore. I'm sure it worked yesterday and there have been no updates to my system. Maybe the SE pages have had a structural change breaking the script?

<img width="709" alt="screenshot 2019-02-21 at 10 09 17" src="https://user-images.githubusercontent.com/24611142/5

[2019-02-21 09:20] oliversalzburg commented on #168
Duplicate of #163

[2019-02-21 09:20] #168 closed

[2019-02-21 22:03] barmar opened #169 "Extension has stopped working"
A couple of days ago, this stopped working when commenting on questions or answers. The "auto" link no longer shows up. It still appears below the "Edit Summary" field, though (I've never needed it there -- Chrome's built-in autocomplete is sufficient).

TamperMonkey updated around the same time, so I thought it might be related, but I disabled TamperMonkey and it didn't help. I haven't made any o

[2019-02-22 02:49] Paulster2 commented on #169
Just to confirm, I've experienced the same issue. I've uninstalled/reinstalled without resolution.

[2019-02-22 02:51] dont-panic-42 commented on #169
Me too, Chrome Version 72.0.3626.109, macOS 10.14.2.  Started today, I was just reconfiguring it yesterday.

[2019-02-22 09:34] RoryMcCrossan commented on #169
Also having the same issue.

[2019-02-22 09:50] Benjol commented on #169
Corrected here, but I haven't yet uploaded the new version to the Store. Probably tomorrow.

[2019-02-22 13:19] oliversalzburg commented on #169
Duplicate of #163

[2019-02-22 13:19] #169 closed

[2019-02-23 02:01] barmar commented on #163
I still see 1.4.3 in the Chrome store. Are we waiting for Google to approve it?

[2019-02-23 02:15] makyen commented on #163
@barmar The most recent information is [this comment](https://github.com/Benjol/SE-AutoReviewComments/issues/169#issuecomment-466339481) in the issue you opened, #169. As the author of that issue, you should have been notified when the comment was placed (16 hours ago). That comment says:

If you want the functionality immediately, then you will need to switch to using this as a userscript. It sho

[2019-02-23 03:05] barmar commented on #163
You closed my issue as a duplicate, I thought further comments should be here. And I misunderstood "just released fix" as meaning that you'd uploaded it to the store (I didn't notice that the date was older than when you said "maybe tomorrow").

I'm not trying to rush you, I was just confused about the timeline.

[2019-02-23 12:42] Benjol commented on #163
up now

[2019-02-27 17:37] gparyani commented on #154
This was fixed at some point, so closing.

[2019-02-27 17:37] #154 closed

[2019-03-10 11:27] Glorfindel83 opened #170 "Welcome message not inserted"
The welcome message is no longer automatically inserted; the 'loader' icon remains visible and the console shows an error:

<img width="721" alt="Screenshot 2019-03-10 at 12 21 09" src="https://user-images.githubusercontent.com/24611142/54084347-ccccab80-432f-11e9-983e-e54eaf04e2d3.png">

- macOS 10.14.3
- Firefox 65.0.1
- Violentmonkey 2.10.1

[2019-03-10 17:52] makyen commented on #170
This is highly likely to be a duplicate of #128. If it is, then this will go away for you once the 24 hour SE API period in which you are in rolls over so you have a new allocation of 300 requests without an SE API key (rollover times depend on when your IP was accessing the SE API).

[2019-03-10 17:58] makyen commented on #128
@oliversalzburg To be clear: I can get an API key for this, but then it's one that I've created. My understanding is that the strong preference from SE, is that it's the owner of the project, usually the person that posts the Stack Apps question, that creates the API key used with a specific app. I'm not sure if my doing so and using it in this project is against policy for the SE API.

I'm not re

[2019-03-10 21:39] Glorfindel83 commented on #170
@makyen you're right, it works now after the daily quota reset.

[2019-03-10 21:39] #170 closed

[2019-03-11 00:44] oliversalzburg commented on #128
@Benjol You think you could help us out with the API key? I think https://stackapps.com/apps/oauth/register is where to set it up.

[2019-03-11 01:02] Benjol commented on #128
I'll try and have a look later today

-----Original Message-----
From: "Oliver Salzburg" <notifications@github.com>
Sent: ‎11/‎03/‎2019 01:44
To: "Benjol/SE-AutoReviewComments" <SE-AutoReviewComments@noreply.github.com>
Cc: "Benjol" <ben.simkins@gmail.com>; "Mention" <mention@noreply.github.com>
Subject: Re: [Benjol/SE-AutoReviewComments] Why does the autocomment windowseem to load forever (moving

[2019-03-11 01:23] makyen commented on #128
@Benjol (You may not have read this whole issue thread, or done so a few months ago, so...) My long comment above with the SE Auto logo in it has what I believe you'll probably want as entries for the SE API key request form (or at least responses that are something close). Obviously, they are just suggestions and you should use what you deem best, but having the information collected in one place

[2019-03-11 06:42] Benjol commented on #128
Resolved in https://github.com/Benjol/SE-AutoReviewComments/commit/e3a0a55277acea371b2e1ee869bcf03c85faffc9, release coming up...

For my future reference, the stack app ID is https://stackapps.com/apps/oauth/view/14612

[2019-03-11 06:43] Benjol commented on #128
OK, my bad, it's not working (for me)...

[2019-03-11 06:49] Benjol commented on #128
Pull requests welcome...

[2019-03-11 07:02] Benjol commented on #128
OK, I pasted in the Client Secret (now reset) instead of the Key. Blame it on a bad night :)

Fixed in https://github.com/Benjol/SE-AutoReviewComments/commit/19380672a406cdfeb3b726ba06ddf1b5ba6d767d.
I'm now going to upload Release files and Chrome extension. Version 1.4.7

To answer your question @makyen, currently I think only @oliversalzburg and I (of those present) can upload Release files, bu

[2019-03-11 07:02] #128 closed

[2019-03-15 21:20] gparyani opened #171 "Force welcome does not work anymore"
When the user script decides not to leave a welcome message, there is an option to force the welcome message anyway. For some time, this used to work.

However, as of a couple weeks ago, it no longer works. Is this a bug caused by an incompatible change to SE?

Reproduced on Microsoft Edge.

[2019-03-17 17:08] oliversalzburg commented on #171
The project is currently not being actively maintained by anyone. If you submit a PR, there's a good chance it'll be merged though.

[2019-06-25 11:30] SmartManoj opened #173 "Dark theme Support"
Compatible with https://github.com/StylishThemes/StackOverflow-Dark

[2019-06-26 03:28] SmartManoj commented on #173
Some buttons' text are not visible

[2019-06-26 06:57] SmartManoj commented on #173
![image](https://user-images.githubusercontent.com/7231077/60158024-bb8baa00-980d-11e9-83e1-a71f554c2af9.png)

[2019-06-27 03:11] SmartManoj opened #174 "[Feature Request] Syncing"
Use GM_setValue instead localStorage to sync between browsers

[2019-06-27 16:10] makyen commented on #174
`GM_setValue` and `GM.setValue` don't permit syncing between browsers. They would, however, permit syncing comments between Stack Exchange sites. That could also be handled in other ways.

Note that there are incompatibilities in this API between the different userscript managers. Specifically, Greasemonkey 4 is significantly different. This can be worked around by using a shim.

However, that use

[2019-06-28 05:04] SmartManoj commented on #174
For tampermonkey, In @shog repo (SOX) he used `GM_setValue` for `Edit reasons` feature. The data are stored in Google Drive when syncing

[2019-06-28 06:37] makyen commented on #174
So, what you're *really* asking for is that you want to sync to different *Chrome* browsers on different devices when using Tampermonkey (or maybe? all browsers the user runs Tampermonkey on with "Script Sync" enabled).

There's nothing inherent that prevents using userscript storage, other than the issue that people will no longer be able to share data between the browser extension versions of th

[2019-06-28 07:10] SmartManoj commented on #174
Mostly people have single browser extension & single version of a script.

[2019-06-28 07:38] makyen commented on #174
That's sort-of true. The auto-update/check feature actually results in it being common that people, unknowingly, run more than one version of the script, because the current version of the script is downloaded and run for every load of a page on which the script runs, regardless of if the user has updated their installed version. This is a separate issue.

The feature currently exists that someone

[2019-06-28 07:41] SmartManoj commented on #174
If they switch , we could export & import

[2019-06-28 07:56] makyen commented on #174
Obviously, there are options. I haven't said it's a deal-breaker, just A) that it's a feature that exists now; B) that we don't know how much it is used; and C) that it's something that needs to be considered by more than just the person writing the code, if it's a feature that will be eliminated.

[2020-04-29 06:10] CertainPerformance opened #175 "Can the userscript's Local Storage data be put into a single property, rather than 30 or more separate ones?"
I pretty frequently look through SE sites' Local Storage when debugging my own scripts. Every time I do, I'm faced with screens like this:

![localStorage pollution](https://i.stack.imgur.com/aV6ix.png)

AutoReviewComments' keys are *everywhere* - there are about 60 of them for me (depends on how many auto-comments one has saved). It's not only annoying, it's also a pretty inelegant storage patter

[2020-04-29 07:33] oliversalzburg commented on #175
I believe the code comes from a time when there were storage limits *per key* in the LocalStorage implementations, if there weren't even other restrictions or storage patterns at the time.

Either way, the change seems perfectly reasonable, but the code hasn't been maintained in years and if new releases will ever be built is questionable.

If you want to work on it, you're welcome to do so, but h

[2020-04-29 07:47] Benjol commented on #175
If you do the work and send a pull request I don't mind having a look at
it, but I'm not 100% sure I still have the access rights to update the
chrome extension on the store. Nor that it still corresponds to their
criteria.

On Wed, 29 Apr 2020 at 09:33, Oliver Salzburg <notifications@github.com>
wrote:

[2020-06-14 11:48] b-enoit-be opened #178 "Use magic links instead of //$SITEURL$/some-resource when possible"
Based on [this question](https://meta.stackexchange.com/questions/92060/add-data-se-style-magic-links-to-comments), wouldn't it be more future proof to use [the magic links](https://meta.stackexchange.com/a/94000/279135) rather than the links //$SITEURL$/some-resource, when possible?

[2020-06-14 12:12] b-enoit-be opened #179 "Use the close vote reason as they would appear "From review""
Fairly recently, in some queues, reviewing a post as "need closure" would also add the closure message as a comment on the question/answer.

Wouldn't it be great to offer a consistent experience there and propose those as comments?

<img width="716" alt="Screenshot 2020-06-14 at 14 12 00" src="https://user-images.githubusercontent.com/10222438/84592882-17997500-ae49-11ea-8dda-59b50526d3f0.png">

P

[2020-06-30 00:19] FranklinYu commented on #173
Any updates? I’m looking for compatibility with the native dark theme in Stack Overflow.

[2021-04-02 16:36] jbcrowley opened #185 "Not all question-related comments are showing in UI"
I have 12 Q tagged comments but only the last 2 are being shown. This just started happening somewhat recently? Maybe the last couple weeks?

My autocomments.so file: https://gist.github.com/jbcrowley/c3b8dbc68c6926b753c6a960c07811ac